/**
  Hero slider
 */

.slider {
  display: flex;
  position: relative;
  min-height: 60rem;
  overflow: hidden;
  flex-direction: column;


  @include media-breakpoint-down(md) {
    height: 42rem;
  }
}

// Images slider
.slider__images {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  width: 100%;
  height: 100%;
}

// Single image slide
.slide--image {
  width: 100%;
  height: 100%;

  img {
    height: 100%;
    min-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.slide--video {
  video {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// Gradient overlay
.slider__gradient {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
  width: 100%;
  height: 100%;
  background: linear-gradient(195.84deg, rgba(31, 37, 50, 0.0001) 29.76%, rgba(31, 37, 50, 0.8) 99.72%);
}

// Menu bottom of slider
.slider__menu {
  display: flex;
  height: 21rem;
  margin-top: auto;

  @include media-breakpoint-down(md) {
    display: none;
  }
}

// Menu item
.slider__menu-item {
  position: relative;
  overflow: hidden;
  flex: calc(100% / 3) 0 0;

  @include media-breakpoint-down(lg) {
    flex: 1;
  }
}

// Text, link, hover image and icon
.slider__menu-item__copy {
  display: flex;
  padding: 6rem;
  flex-direction: column;
}

// Menu item image
.slider__menu-item__image {
  @extend .object-fit-cover;
  position: absolute;
  z-index: -1;
  opacity: 0;
  transition: all 500ms;
}

// Menu item title
.slider__menu-item__title {
  @include font-size(3rem);
  margin: 0;
  line-height: 1.1;
  font-weight: bold;
  color: $white;
}

// Menu item subtitle
.slider__menu-item__subtitle {
  @include font-size(1.4rem);
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
  color: $white;
}

// Menu item line graphic
.slider__menu-item__line {
  display: flex;
  position: relative;
  width: 100%;
  height: 1px;
  margin: 1.5rem 0;
  background: rgba(255, 255, 255, 0.3);
  transition: all 200ms;

  // Diamond with plus sign
  .icon--plus {
    width: 5.4rem !important;
    height: 5.4rem !important;
    margin: 0 0.7vw 0 auto;
    transform: translateY(-50%);
    transition: all 200ms;

    //@include media-breakpoint-down(lg) {
    //  width: 3.4rem;
    //  height: 3.4rem;
    //  margin: 0 3% 0 auto;
    //}


  }
}

// Slider menu item hover styles
.slider__menu-item:hover,
.slider__menu-item:active,
.slider__menu-item:focus {

  text-decoration: none;

  .slider__menu-item__line {
    background: theme-color('primary');
  }

  .slider__menu-item__image {
    opacity: 1;
    transform: scale(1.02);
  }

  .icon {
    transform: translateY(-50%) rotate(135deg);

  }
}

// Black box with the copy
.slider__copy {
  display: flex;
  z-index: 5;
  width: 57.2rem;
  overflow: hidden;
  margin: 10rem 0 1.5rem 10rem;
  padding: 7.9rem 0 7rem;
  background: rgba($black, 0.5);
  flex-direction: column;

  @include media-breakpoint-down(md) {
    margin: auto 0 0;
    padding: 2rem;
    background: rgba($black, 0.3);
  }

  @include media-breakpoint-down(sm) {
    width: 100%;
    height: 100%;
  }
}

// Single copy slide
.slide--copy {
  padding: 0 7.5rem;

  @include media-breakpoint-down(md) {
    padding: 0;
  }
}

// Copy title
.slide__title {
  @include font-size(4rem);
  margin-bottom: 1rem;
  line-height: 1.2;
  font-weight: bold;
  color: $white;
}

// Copy subtitle
.slide__subtitle {
  @include font-size(3.5rem);
  margin-bottom: 3.6rem;
  font-weight: 300;
  color: $white;
}

// Navigation arrows and pagination
.slider__navigation {
  display: flex;
  margin-top: 5rem;
  padding: 0 7.5rem;
  align-items: center;
  color: white; // hero slider should have white icons

  @include media-breakpoint-down(md) {
    margin-top: 6rem;
    padding: 0;
    flex-direction: column;
    grid-row-gap: 2rem;
    align-items: start;
  }
}

.slider__next, .slider__prev {
  height: 5rem;
  width: 5rem;
  display: inline-block;
  border: 2px solid theme-color('primary');
  border-radius: 50%;
  position: relative;

  &::after {
    content: '';
    mask: url('../images/arrow-down.svg') no-repeat bottom center;
    mask-size: 100%;
    width: 50%;
    height: 50%;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: currentColor;
  }
}

.slider__next {
  transform: rotate(-90deg);
  margin: 0 2rem;
}
.slider__prev {
  transform: rotate(90deg);
}

// Pagination
.swiper-pagination {
  display: flex;
  position: static;
  text-align: left;
  align-items: center;

  @include media-breakpoint-down(md) {
    margin-left: 2rem;
  }
}

// Single bullet
.swiper-pagination-bullet {
  width: .8rem;
  height: .8rem;
  margin-right: 4.6rem;
  background: $white;
  opacity: 1;
}

// Single Active bullet
.swiper-pagination-bullet-active {
  width: 1.4rem;
  height: 1.4rem;
  background-color: theme-color('primary');
}


