/**
  Vertical models component on the homepage
 */

.vertical-models {
  padding-bottom: 5rem;

  @include media-breakpoint-down(sm) {
    height: auto;
  }

  // Wrapper
  .categories {
    display: flex;
    height: 58rem;
    overflow: hidden;

    @include media-breakpoint-down(sm) {
      height: auto;
      flex-direction: column;
    }
  }

  // 20% width image
  .category {
    display: flex;
    position: relative;
    overflow: hidden;
    background: transparentize($black, 0.35);
    cursor: pointer;
    flex-direction: column;
    flex: 20% 1 1;
    transition: all 800ms $easeInOutQuart;

    @include media-breakpoint-down(sm) {
      flex: 18rem 0 0;
    }
  }

  // Hardcoding image offsets
  /*
  @include media-breakpoint-up(md) {
    .category[data-target="2"] {
      .category__image {
        transform: translateX(-50rem);
      }
    }

    .category[data-target="3"] {
      .category__image {
        transform: translateX(-5rem);
      }
    }

    .category[data-target="4"] {
      .category__image {
        transform: translateX(-33rem);
      }
    }
  }
  */

  .categories:hover .category.active {
    flex: 20% 0 1;

    @include media-breakpoint-down(sm) {
      flex: 26rem 0 0;
    }
  }


  // 25% width on hover
  .category:hover,
  .category.active:hover {
    text-decoration: none;
    background: none;
    flex: 75% 0 0 !important;

    @include media-breakpoint-down(sm) {
      flex: 26rem 0 0 !important;
    }
  }


  .category.active {
    text-decoration: none;
    background: none;
    flex: 75% 0 0;


    .category__cta:after {
      transform: rotate(90deg);
    }

    @include media-breakpoint-down(md) {
      flex: 26rem 0 0;
    }
  }


  .category__inner {
    position: absolute;
    bottom: 3.4rem;
    left: 3.4rem;
    z-index: 10;
    margin-top: auto;
    white-space: nowrap;
    color: $white;
  }

  .category__title {
    @include font-size(2.4rem);
    margin-bottom: 2.5rem;
    padding-bottom: 2rem;
    border-bottom: thin solid $white;
    line-height: 1.1;
    font-weight: 300;

    strong {
      @include font-size(2.7rem);
      display: block;
      font-weight: bold;
    }
  }

  .category__image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    background: $black;

    img {
      width: auto;
      height: 100%;
      object-fit: cover;

      @include media-breakpoint-down(md) {
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .category__cta {
    @include font-size(1.4rem);
    display: flex;
    font-weight: bold;
    text-transform: uppercase;
    align-items: center;

    &:after {
      display: block;
      width: 1rem;
      height: 1rem;
      margin-left: 1.2rem;
      background: url('../images/chevron-right-white.svg') center center no-repeat;
      content: '';
      background-size: contain;
      transition: all 750ms $easeInOutQuart;
    }
  }

  .model__close {
    position: absolute;
    top: 4.8rem;
    right: 4rem;
    z-index: 900;
  }

  .model {
    display: flex;
    position: relative;
    height: auto;
    overflow: hidden;
    padding: 2rem 0 4rem;
    border-bottom: thin solid $gray-lightish;
    flex-wrap: wrap;
    justify-content: flex-start;
    transition: all 250ms $easeOutCubic;
    align-content: flex-start;

    @include media-breakpoint-down(sm) {
      overflow: visible;
      padding: 2rem 7rem 8rem;
      border-bottom: 0;
      background: $white;
      -webkit-transform: translateY(-5rem);
      -o-transform: translateY(-5rem);
      transform: translate(6rem, -2rem);
    }


    > .row {
      @include media-breakpoint-down(md) {
        flex-direction: column;
      }
    }

    .row {
      width: 100%;
    }

    .cta {
      @include font-size(1.6rem);
      margin-top: 2rem;
      font-weight: bold;
      color: #999;
    }

    .model-thumbnail:hover {
      &:hover {
        background: none;
      }
    }

    .model-thumbnail__advantage {
      margin-top: 0;
      margin-bottom: 1.5rem;
    }

    .model-thumbnail__advantage--bottom {
      display: none;
    }

    .model-thumbnail__name {
      margin-bottom: 0;
    }
  }

  .model--hidden {
    display: none;
  }

  .model__title {
    @include font-size(3rem);
    padding: 15rem 0 0 0;
    font-weight: 300;

    @include media-breakpoint-down(md) {
      display: none;
    }

    strong {
      @include font-size(4rem);
      display: block;
      line-height: 1;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  /**
  .models {
    display: flex;
    flex-wrap: wrap;
    flex: 70% 0 0;
  }

  .model-thumbnail {
    margin-right: 3%;
    flex: 30% 0 0;
  }

  .model__cta {
    margin-right: auto;
    margin-left: 20%;
  }
  */
}
