.news-thumbnail {
  display: block;
  position: relative;
  width: 100%;
  margin-bottom: 5rem;
  color: $black;

  .icon--plus {
    position: absolute;
    top: 0;
    right: 7%;
    width: 7.3rem;
    height: 7.3rem;
    transform: translateY(-50%);
    transition: all 500ms $easeInOutQuart;
  }

  &:hover {
    text-decoration: none;
    color: $black;
  }

  &:hover .icon {
    transform: translateY(-50%) rotate(135deg);
  }

  &:hover .news-thumbnail__image img {
    // transform: scale(1.04);
  }

}

.news-thumbnail__image {
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-bottom: 70%;

  img {
    @extend .object-fit-cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 700ms;
  }
}

.news-thumbnail__inner {
  position: relative;
  padding: 4.5rem 40% 0 0;
}

.news-thumbnail__date {
  @include font-size(1.8rem);
  margin-bottom: 1rem;
  font-weight: 300;
}

.news-thumbnail__title {
  @include font-size(2rem);
  font-weight: bold;
}
