@import "common/variables";
@import "common/variables-renault";

@import "styles";


.highlight--half {
  &:before {
    position: absolute;
    top: auto;
    right: 0;
    bottom: 6%;
    left: -5%;
    z-index: -1;
    width: auto;
    height: 50%;
    background: theme-color('primary');
    content: '';
  }
}

